h1{
    color: rgb(38, 41, 240);
}
body{
    background-color: cornflowerblue;
}

.borboleta{
    width: 230px;
}

.imgAudio{
    flex-direction: column;
}

p{
    margin: 0;
    padding: 0;
}

.azulBorboleta{
    width: 40px;
}